{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    {% block extra_head %}
    {% endblock %}

    <style type="text/css">
        {% block extra_style %}
        {% endblock %}
    </style>
</head>

<body>
    {% block content %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</body>

</html>